html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
#wrapper {
    padding: 10px;
}
header {
    background-color: orange;
    color: black;
    padding: 10px 20px;
    text-align: center;
}
#main {
    display: flex;
}
#left {
    background-color: lightblue;
    flex-grow: 2;
}
#right {
    background-color: antiquewhite;
}
#form, #listado, #carrito, #total {
    border: 1px solid #ccc;
    padding: 5px;
}
footer {
    background-color: orange;
    color: black;
    text-align: center;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
