
    #container {
        width: 80%;
        margin: 0 auto;
        border: 2px solid #000;
        padding: 10px;
        background-color: antiquewhite;
    }

    @media screen and (max-width: 600px) {
    #container {
        background-color: lightblue;
        border-color: blue;
    }
    
}